/***** Base Styles *****/
@font-face {
  font-family: Cochin;
  src: url('../fonts/cochin.ttc') format('opentype');
}

body {
  font-family: 'Cochin';
  color: #2b2b2b;
}

/***** Grid *****/
.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 500px;
  float: left;
}

/***** HEADER *****/

header {
  height: 800px;
  background: url('../img/header-photo.png');
  background-size: cover;
}

header h1 {
    padding: 65px 0 65px 25px;
    font-family: 'Cochin';
    font-size: 30px;
    color: #f5f4d8;
}

nav {
    float: right;
    padding: 75px 25px;
    font-family: 'Cochin';
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #f5f4d8;
    padding-left: 80px;
}

header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Cochin';
    font-size: 72px;
    line-height: 72px;
    color: black;
    padding: 150px 0 219px 215px;
}
header h2 span {
    color: #f5f4d8;
}


/***** ABOUT *****/
#about {
  height: 600px;
  background: url('../img/about-mepic.png');
  background-size: cover;
}

#about .full-width {
  padding: 80px 0;
}

#about h2 {
  font-family: 'Cochin';
  font-size: 36px;
  padding-left: 220px;
  color: #f5f4d8;
}

#about p {
  font-family: 'Cochin';
  font-size: 21px;
  color: black;
  line-height: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}

/***** WORK *****/

#work {
  background-color: #f5f4d8;
  height: 2275px;
}

/***** FIRST SECTION *****/

.top-fifth {
  height: 475px;
  margin: 0px;
}

.top-fifth h2 {
  font-size: 70px;
  font-family: 'Cochin';
  text-align: center;
  margin: 0px 225px 74px 323px;
  padding: 34px 2px 0px 3px;
}

.top-fifth img#css-thumbnail {
    margin-top: 7px;
    margin-bottom: 35px;
    margin-left: 235px;
    margin-right: 241px;
    padding: 0;
}

.top-fifth img#html-thumbnail {
  margin: 0px 7px 95px 125px;
}

.top-fifth img#wordpress-thumbnail{
  margin: 0px 127px 90px 125px;
}

.top-fifth h3 {
    font-size: 24px;
    line-height: 32px;
    width: 200px;
    margin: 0 auto;
}

.top-fifth p {
  text-align: left;
  line-height: 27px;
  font-size: 23px;
  font-family: 'Cochin';
  margin-top: 55px;
  margin-left: 35px;
}
/***** SECOND SECTION *****/

.second-fifth {
  height: 400px;
  margin: 0px;
}

.second-fifth img {
  margin: 35px 86px 0px 20px;
  padding: 9px 23px 8px 23px;
}
.second-fifth h3 {
  text-align: left;
  font-size: 36px;
  font-family: 'Cochin';
  margin: 75px 229px 0px 65px;
}

.second-fifth p {
  text-align: left;
  line-height: 27px;
  font-size: 24px;
  font-family: 'Cochin';
  margin: 9px 59px 150px 65px;
}

/***** THIRD SECTION *****/

.third-fifth {
  height: 400px;
  margin: 0px;
}

.third-fifth img {
  margin: 35px 132px 35px 35px;
  padding: 0px 9px 0px 10px;
}

.third-fifth h3 {
  text-align: left;
  font-size: 36px;
  font-family: 'Cochin';
  margin: 128px 0px 9px 53px;
  padding: 0px 1px 0px 2px;
}

.third-fifth p {
  text-align: left;
  line-height: 27px;
  font-size: 24px;
  font-family: 'Cochin';
  margin: 9px 45px 35px 55px;
  padding: 0px;
}

/**** FOURTH SECTION *****/
.fourth-fifth {
  height: 400px;
  margin: 0px;
}

.fourth-fifth img {
  margin: 35px 85px 0px 35px;
  padding: 9px 76px 8px 10px;
}

.fourth-fifth h3 {
  text-align: left;
  font-size: 36px;
  font-family: 'Cochin';
  margin: 75px 0px 9px 50px;
  padding: 0px 1px 0px 1px;
}

.fourth-fifth p {
  text-align: left;
  line-height: 27px;
  font-size: 24px;
  font-family: 'Cochin';
  margin: 9px 9px 0px 55px;
  padding: 0px;
}

/**** FIFTH SECTION *****/

#final-section {
  height: 400px;
  margin: 0px;
}


#final-section .full-width {
  padding: 115px 0px 0px 5px;
}

#final-section img {
  margin: 85px 0px 75px 25px;
  padding-left: 5px;
}

#final-section h3 {
  text-align: left;
  font-size: 36px;
  font-family: 'Cochin';
  margin-top: 105px;
  margin-bottom: 9px;
  padding-left: 45px;
}

#final-section p {
  text-align: left;
  line-height: 27px;
  font-size: 24px;
  font-family: 'Cochin';
  margin-top: 0px;
  padding-left: 45px;
}

/***** CONTACT *****/

#contact {
  background-color: #345375;
}

#contact .full-width {
  padding: 110px 0px;
}

#contact img#contact-img {
    margin-left: 25px;
    border: 12px solid #ffffff;
    margin-top: 105px;
}

#contact-info {
  margin-top: 85px;
  margin-left: 25px;
}

#contact h2,#contact #email-header, #contact #socialmedia-header, #contact ul {
  padding-left: 115px;
}

#contact h2 {
    font-family: 'Cochin';
    font-size: 36px;
    line-height: 34px;
    color: #f5f4d8;
}

#contact p {
  font-size: 28px;
  color: #f5f4d8;
}

#copyright {
  color: #f5f4d8;
  font-family: 'Cochin';
  font-size: 18px;
  text-align: center;
  margin-bottom: 0px;
}

.contact {
  text-align: center;
}

#contact #email-header{
    font-size: 28px;
    font-weight: normal;
    line-height: 24px;
    color: #f5f4d8;
    font-family: 'Cochin';
}


#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    color: #f5f4d8;
    font-family: 'Cochin';
}
#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
    color: #f5f4d8;
    font-family: 'Cochin';
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
}
